@import '../../theme/variables.scss';
@import '../../theme/mixins';

.container {
    padding: 75px 82px 94px 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include md{
        padding: 24px;
        flex-direction: column-reverse;
    }
}