@import '../../theme/variables.scss';
@import '../../theme/mixins';

.header_container {
    padding: 0 82px;
    display: flex;
    // width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left {
    height: 70px;
    width: 70px;
    img {
        height: 100%;
        width: 100%;
    }
}
.right {
}
